{% extends 'TwigBundle:Exception:errorLayout.html.twig' %}

{% block content %}
    <div>
        <h1>{% trans %} error.page500.h1 {% endtrans %}</h1>
        <p>{% trans %} error.page500.p {% endtrans %}</p>
        <a href="{{ path('home') }}">{% trans%} error.page.back {% endtrans %}</a>
    </div>
{% endblock %}