.DS_Store
*.*~
.idea
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
!/bin/fix-permission.sh
/composer.phar
/vendor/
/web/bundles/
!/web/css/.gitkeep
/web/css/
/web/uploads/*
/web/media/*
/web/js/*
!/web/js/.gitkeep
/web/fonts/*
!/web/fonts/.gitkeep
symfony
