{% extends 'base.html.twig' %}

{% block nav %}{% endblock %}

{% block body %}
    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h1 class="form-signin-heading">Burberry</h1>

        <div class="form-group {% if error %}has-error{% endif %} ">
            <input type="text" id="username" name="_username" class="form-control" placeholder="{% trans %}login.form.username{% endtrans %}" value="{{ last_username }}" required>
        </div>
        <div class="form-group {% if error %}has-error{% endif %}">
            <input type="password" id="password" name="_password" class="form-control" placeholder="{% trans %}login.form.password{% endtrans %}" required>
        </div>

        <select id="language" class="form-control" name="_locale">
                {% for locale in locales() %}
                    <option value="{{  locale.code }}"{% if app.request.locale == locale.code %}selected{% endif %}>{{ locale.name|capitalize }}</option>
                {% endfor %}
        </select>

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans %}login.form.login{% endtrans %}</button>
    </form>
{% endblock %}

{% block javascripts %}

<script>
    $(function(){

        // if mobile device we don't apply select2.js plugin and have native select elements
        if (!isMobile) {
            $('#language').select2({
                minimumResultsForSearch: -1,
                width: '100%'
            });
        }

        $('#language').on('change', function(e){
            window.location = "/locale/" + $(this).val();
        });
    });
    </script>
{% endblock %}
